

body{
    background: #fff;
    color: #262626;
    font-family: 'Montserrat';
    margin: 0;
    overflow: hidden;
}
.btcCointainer{
    margin-top: 5px;
    padding-top:20px;
    width: 100%;
    height: 100px;
    background-color: #fff;
    align-items: center;
     display: flex;
     padding-left: 160px;

}
.row{
    width: 100%;
    margin-top: 10px;
    background: #1A1A1A;
    text-align: center;
    display: grid;
    /* grid-template-columns: 35% auto 35%; */
    align-items: center;
}

#price-container{
    background:  #fff;
    padding-top: 10px;
    padding: 0 10px;
    text-align: center;
    height: 100px;
    margin-left: 0;

}

#goal-container{
    padding: 20px;
    align-items: center;
}
.subtext{
    margin-top: 15px;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
img{
    width:20px;
}
h1{
    margin: 0 0 10px 0;
}

button{
    margin-left:35%;
    margin-top:20px;
    background: #b38600;
    border: none;
    color: #fff;
    text-transform: uppercase;
    padding: 10px;

    cursor: pointer;
}
#targetPrice{
    color: #fff;
    font-size: 14px;
}
#btcLogo{
    height: 60px;
    width: 60px;
    /* background-color: red; */
}
#btcLogo img{
    height: auto;
    width: 100%;
}
.arrowHolder{
    width:20px;
    /* background-color: red; */
    align-content: center;
}
.arrowHolder img{
    width:20px;
    height: 20px;
}
#up{
    display: none;
}
#down{
    display: none;
}